<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    1.spring扫描路径-->
    <context:component-scan base-package="com.cqk"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <!--    2.服务发现-->
    <bean id="serviceDiscovery" class="com.cqk.registry.impl.ZookeeperServiceDiscoveryImpl">
        <constructor-arg name="zkAddress" value="${rpc.registry_address}"/>
    </bean>

    <bean id="rpcProxy" class="com.cqk.client.RpcProxy">
        <!--指定RpcProxy的构造参数，当容器实例化bean时，会自动将名为iServiceDiscovery的bean作为构造函数的参数传递过去-->
        <constructor-arg name="iServiceDiscovery" value="com.cqk.registry.IServiceDiscovery"/>
    </bean>

    <bean id="logAspect" class="com.cqk.aspect.LogAspect"></bean>

</beans>